.battle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../img/maps/StreetBattle.png');
    background-size: cover;
    image-rendering: pixelated;
}

.battle_hero, .battle_enemy {
    position: absolute;
    transform: scale(2);
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url('../img/characters/shadow.png') no-repeat no-repeat;
}

.battle_hero img, .battle_enemy img {
    pointer-events: none;
}

.battle_hero {
    bottom: 57px;
    left: 1px;
}

.battle_hero img {
    transform: translateY(-64px);
    /* nudge hero sprite sheet*/
}

.battle_enemy {
    top: 42px;
    right: -1px;
}