@import './TextMessage.css';
@import './SceneTransition.css';

:root {
    --border-color: #291D4D;
    --dialog-bg: #fff3b4;

    --menu-bg: #ffe8d2;
    --menu-border-color: #a48465;
    --menu-font-color: #3a160d;
    --menu-selected-bg: #7fc2ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid white;

    transform: scale(3) translateY(40%);
}

.game-container canvas {
    image-rendering: pixelated;
}